<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>tokens List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body style="padding: 30px">
<h2>tokens List</h2>
<form name="tokenForm">
    <input type="hidden" name="id" value="0" />
    <div class="form-group">
        <label for="token">Token:</label>
        <input class="form-control" name="username" />
    </div>
    <div class="form-group">
        <label for="username">Username:</label>
        <input class="form-control" name="email" />
    </div>

    <div class="panel-body">
        <button type="button" id="addToken" class="btn btn-sm btn-primary">Add</button>
        <button type="button" id="editToken" class="btn btn-sm btn-primary">Edit</button>
    </div>
</form>
<table class="table table-condensed table-striped table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>User</th>
        <th>Token</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>
    async function GetTokens() {
        const response = await fetch("/api/tokens", {
            method: "GET",
            headers: { "Accept": "application/json" }
        });
        console.log('response', response)
        if (response.ok === true) {
            const tokens = await response.json();
            let rows = document.querySelector("tbody");
            tokens.forEach(token => {
                rows.append(row(token));
            });
        }
    }

    async function GetToken(id) {
        console.log('ID', id)
        const response = await fetch("/api/tokens/" + id, {
            method: "GET",
            headers: { "Accept": "application/json" }
        });
        if (response.ok === true) {
            const token = await response.json();

            const form = document.forms["tokenForm"];
            form.elements["id"].value = token.id;
            form.elements["username"].value = token.username;
            form.elements["token"].value = token.token;
        }
    }

    async function CreateToken(id, userName, token) {
        const response = await fetch(`api/tokens`, {
            method: "POST",
            headers: { "Accept": "application/json", "Content-Type": "application/json" },
            body: JSON.stringify({
                id,
                username: userName,
                token: token
            })
        });
        if (response.ok === true) {
            const token = await response.json();
            reset();
            document.querySelector("tbody").append(row(token));
        }
    }

    async function EditToken(userId, userName, token) {
        const response = await fetch(`api/tokens/${userId}`, {
            method: "PUT",
            headers: { "Accept": "application/json", "Content-Type": "application/json" },
            body: JSON.stringify({
                id: userId,
                username: userName,
                token: token
            })
        });

        if (response.ok === true) {
            const user = await response.json();

            reset();
            document.querySelector("tr[data-rowid='" + user.data.id + "']").replaceWith(row(user.data));
        }
    }

    async function DeleteToken(id) {
        const response = await fetch("/api/tokens/" + id, {
            method: "DELETE",
            headers: { "Accept": "application/json" }
        });
        if (response.ok === true) {
            const token = await response.json();
            document.querySelector("tr[data-rowid='" + token.data + "']").remove();
        }
    }

    function reset() {
        const form = document.forms["userForm"];
        form.reset();
        form.elements["id"].value = 0;
    }
    function row(token) {

        const tr = document.createElement("tr");
        tr.setAttribute("data-rowid", token.id);

        const idTd = document.createElement("td");
        idTd.append(token.id);
        tr.append(idTd);

        const nameTd = document.createElement("td");
        nameTd.append(token.username);
        tr.append(nameTd);

        const tokenTd = document.createElement("td");
        tokenTd.append(token.token);
        tokenTd.style.maxWidth = "200px"
        tokenTd.style.overflow = "scroll"
        tr.append(tokenTd);

        const linksTd = document.createElement("td");

        const editLink = document.createElement("a");
        editLink.setAttribute("data-id", token.id);
        editLink.setAttribute("style", "cursor:pointer;padding:15px;");
        editLink.append("Edit");
        editLink.addEventListener("click", e => {
            e.preventDefault();
            GetToken(token.id);
            const addBtn = document.getElementById('addToken')
            addBtn.disabled = true;

        });
        linksTd.append(editLink);

        const removeLink = document.createElement("a");
        removeLink.setAttribute("data-id", token.id);
        removeLink.setAttribute("style", "cursor:pointer;padding:15px;");
        removeLink.append("Delete");
        removeLink.addEventListener("click", e => {
            e.preventDefault();
            DeleteToken(token.id);
        });

        linksTd.append(removeLink);
        tr.appendChild(linksTd);

        return tr;
    }

    document.getElementById('editToken').onclick = function(e) {
        e.preventDefault();

        const form = document.forms["tokenForm"];
        const id = form.elements["id"].value;
        const name = form.elements["username"].value;
        const token = form.elements["token"].value;

        EditToken(id, name, token);
        const addBtn = document.getElementById('addToken')
        addBtn.disabled = false;
    };

    document.getElementById('addToken').onclick = function(e) {
        e.preventDefault();
        let s4 = () => {
            return Math.floor((1 + Math.random()) * 0x10000)
                .toString(16)
                .substring(1);
        }

        const form = document.forms["tokenForm"];
        const id = s4();
        const name = form.elements["username"].value;
        const token = form.elements["token"].value;

        CreateToken(id, name, token);
    };

    GetTokens();
</script>
</body>
</html>